<br>
<br>
<br>
<!-- --------------------------inputFiled------------------------------- -->

<!--  
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <app-input formControlName='name' [appearance]="'fill'" [label]="'Name'" [required]="'required'">

    <div class="inputFiledErrorMessage">
      <div *ngIf="name?.invalid && name?.touched" class="text-danger">{{nameErrorMessage}}</div>     
    </div>

  </app-input>
  <br>
  <app-input formControlName='email' [label]="'email'" [placeholder]="'example@xyz.com'" [appearance]="'legacy'"
    [icon]="'email'" [required]="'required'" [type]="'email'">
    
    <div class="inputFiledErrorMessage">
      <div *ngIf="email?.touched && email?.invalid" class="text-danger">
        {{emailErrorMessage}}
      </div>
    </div>

  </app-input>
  
  <br>
  <br>
  <app-button [type]="'submit'" [disabled]="!form.valid"></app-button>

</form>

{{form.get('name')?.touched}}
{{form.get('email')?.touched}} 

{{form.value|json}} -->

<!-- --------------------------Textarea------------------------------- -->

<!-- <form (ngSubmit)="onSubmit()" [formGroup]="form">


  <app-textarea [label]="'Address'" [placeholder]="'Curent Location'" [rows]="10" [cols]="40" formControlName="address">
    <div class="taxtAreaErrorMessage ">

      <span class="text-danger" *ngIf="!addressErrorMessage?.valid && addressErrorMessage?.touched">

        <span *ngIf="addressErrorMessage?.errors?.required">
          Address is required*
        </span>

        <span *ngIf="addressErrorMessage?.errors?.minlength">
          Minimum 10 letters 
        </span>
        
        <span *ngIf="addressErrorMessage?.errors?.maxlength">
          Maximum 50 letters 
        </span>

      </span>


    </div>
  </app-textarea>

  <br>
  <button type="submit" [disabled]="!form.valid">
    Save
  </button>
</form>

Length : {{form.get('address')?.value?.length }} <br>
Value : {{form.get('address')?.value}} <br>
Touched : {{form.get('address')?.touched}} <br>
Dirty : {{form.get('address')?.dirty}} <br> -->

<!-- --------------------------CheckBox------------------------------- -->

<form (ngSubmit)="onSubmit()" [formGroup]="form">
<app-checkbox [labelPosition]="'before'" [color]="'warn'" [value]="'sports'" formControlName="skil"></app-checkbox>

</form>

Value : {{form.get('skill')?.value}} <br>

Touched  : {{form.get('skil')?.touched}}