.container{
  margin: 10px;
  margin-top: 100px;
}
.content{
  padding: 10px;
}

.btn-ctrl{
width: 100px;
}

.btn-ctrl-heading{
  width: 150px;
/* background-color:rgb(153, 152, 152);
  color:rgb(255, 255, 255); */
}
