<div class="container" style="box-shadow: -1px -1px 5px 0px #CBC9D3;">
  <div class="content" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
    <!-- left side -->
    <div class="leftSide" fxFlex="20">
      <mat-card>
        <mat-card-content>

          <div fxLayout="column" fxLayout.md="row wrap" fxLayoutAlign="start center" fxLayoutAlign.md="center start"
            fxLayoutGap="10px" fxFill>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl-heading" mat-raised-button color="warn"
              fxFlex.md="100"> Controls </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("textFiled")'>
              Text Field
            </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("textArea")'>
              Text Area
            </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("checkBox")'>
              Check Box
            </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("radio")'>
              Radio </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("select")'>
              Select </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("date")'> Date
            </button>
            <button [ngClass.md]="'fxClass-md-controls'" class="btn-ctrl" mat-raised-button color="primary"
              fxFlex.md="14.2" (click)='onChange("email")'>
              Email </button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <!-- right side -->
    <div class="rightSide" fxLayout="column" fxFlex="80" fxLayoutGap="10px">



      <div class="body">
        <form [formGroup]="field" (ngSubmit)="onSubmit()">
          <header class="header">
            <mat-card>
              <!-- <mat-card-title>Form Title</mat-card-title> -->
              <!-- <mat-card-subtitle>Enter the Form Title</mat-card-subtitle> -->
              <mat-card-content>
                <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
                  <mat-label>Heading</mat-label>
                  <input matInput placeholder="Enter the form Heading" formControlName="title">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </header>
          <mat-card style=" min-height: 220px; border: 2px dashed silver;">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
              <div>

                <ng-container [ngSwitch]="controlsType">

                  <div *ngSwitchCase="'textFiled'">
                    <mat-card class="controls-body-heading">Text Field</mat-card>
                    <mat-card fxLayout="column">
                      <mat-form-field class="" appearance="outline">
                        <mat-label>Label</mat-label>
                        <input matInput placeholder="Enter the label" formControlName="label">
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" appearance="outline">
                        <mat-label>Select Type</mat-label>
                        <mat-select formControlName="type">
                          <mat-option>None</mat-option>
                          <mat-option value="text">Text</mat-option>
                          <mat-option value="date">Date</mat-option>
                          <mat-option value="file">Upload</mat-option>
                          <mat-option value="number">Number</mat-option>
                          <mat-option value="tel">Tel</mat-option>
                          <mat-option value="color">Color</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Placeholder</mat-label>
                        <input matInput placeholder="Enter the Placeholder" formControlName="placeholder">
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Describe</mat-label>
                        <input matInput placeholder="Enter the Describe" formControlName="describe">
                      </mat-form-field>


                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Default Value</mat-label>
                        <input matInput placeholder="Enter the Default value" formControlName="defaults">
                      </mat-form-field>

                      <mat-checkbox style="margin-left: 50px;" class="" formControlName="required">Required
                      </mat-checkbox>

                    </mat-card>

                  </div>

                  <div *ngSwitchCase="'textArea'">
                    <mat-card class="controls-body-heading">TextArea</mat-card>
                    <mat-card fxLayout="column">
                      <mat-form-field class="" appearance="outline">
                        <mat-label>Label</mat-label>
                        <input matInput placeholder="Enter the label" formControlName="label">
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Minimum</mat-label>
                        <input matInput placeholder="Enter the Placeholder" formControlName="min">
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Maximum</mat-label>
                        <input matInput placeholder="Enter the Describe" formControlName="max">
                      </mat-form-field>

                      <mat-checkbox style="margin-left: 50px;" class="" formControlName="required">Required
                      </mat-checkbox>

                    </mat-card>

                  </div>

                  <div *ngSwitchCase="'checkBox'">
                    <mat-card class="controls-body-heading">CheckBox</mat-card>
                    <mat-card fxLayout="column">
                      <mat-form-field appearance="outline">
                        <mat-label>Select Type</mat-label>
                        <mat-select formControlName="type">
                          <mat-option>None</mat-option>
                          <mat-option value="radio">Radio</mat-option>
                          <mat-option value="checkbox">checkBox</mat-option>
                        </mat-select>
                      </mat-form-field>


                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Label</mat-label>
                        <input matInput placeholder="Enter the Placeholder" formControlName="label">
                      </mat-form-field>

                      <mat-form-field style="margin-left: 50px;" class="" appearance="outline">
                        <mat-label>Maximum</mat-label>
                        <input matInput placeholder="Enter the Describe" formControlName="max">
                      </mat-form-field>

                      <mat-checkbox style="margin-left: 50px;" class="" formControlName="required">Required
                      </mat-checkbox>

                    </mat-card>

                  </div>
                  <div *ngSwitchCase="'radio'">
                    <h1>radio</h1>
                  </div>
                  <div *ngSwitchCase="'select'">
                    <h1>select</h1>
                  </div>
                  <div *ngSwitchCase="'date'">
                    <h1>date</h1>
                  </div>
                  <div *ngSwitchCase="'email'">
                    <h1>email</h1>
                  </div>

                  <div *ngSwitchDefault>

                  </div>

                </ng-container>

                <mat-card style='margin-top:10px;' fxLayout="row" fxLayoutAlign="end start">
                  <button type="submit" mat-raised-button color="primary" (click)="pushValue()">Add</button>
                </mat-card>
              </div>




            </mat-card-content>
          </mat-card>
        </form>
      </div>
      <footer class="footer">
        <mat-card>
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-card-title>JSON Schema</mat-card-title>
          </div>
          <div>
            <pre>
              <!-- {{form.value|json}} <br> -->
              <!-- Form : {{ form.get("arr").value | json }} -->
              <!-- Filed : {{field.value|json}} <br> -->

              {{storeValue|json}}

              <!-- Field : {{ filed.get("name").value | json }} -->
            </pre>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="accent" (click)="submit()">Submit</button>
          </div>
        </mat-card>
      </footer>
    </div>
  </div>
</div>
