.container{
  /* margin:0 10px; */
}
.content{
  padding: 10px;
}
.menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.btn-ctrl{
width: 70%;
}

.btn-ctrl-heading{
  width: 100%;
/* background-color:rgb(153, 152, 152);
  color:rgb(255, 255, 255); */
}

.fxClass-md-controls{
margin: 5px 0;
/* background-color: green; */
}

.Controls-gt-md{
position: sticky;
top: 80px;
}
.controls-body-heading{
  font-size: x-large;
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}

.header{
  margin-bottom: 10px;
}
.download-app{
  position: relative;
  /* background-color: red; */
}
.download-app-gt-md{
position:fixed;
top: 90px;
right: 14px;

}
.download-app-md{
/* background-color: green; */
position:fixed;
bottom: 10px;
left: 20px;
}
