
<mat-form-field class="example-full-width" [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <!-- <mat-icon matPrefix >phone</mat-icon> -->
  <input [type]="type" [value]='value' (input)="change($event)" [disabled]="disabled" (blur)="onTouched()" matInput [placeholder]="placeholder"  />
  <mat-icon matSuffix [ngStyle]="{ display: iconVisibility }">{{
    icon
  }}</mat-icon>
  <mat-hint>
    {{ hint }}
    <ng-content select='.inputFiledErrorMessage'></ng-content>
  </mat-hint>
</mat-form-field>
<!-- not working -->
<!-- <button class="material-icons md-avatar-icon add-rm-icon margin-right">
  <mat-icon ng-click="add=!add">{{ add == true ? "add" : "remove" }}</mat-icon>
</button> -->
